

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobiliaire Inventory Manager">
    <meta name="author" content="Cordeilla Sharpe">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Mobiliaire Inventory Manager</title>
<!-- Bootstrap CSS bundle -->
<link rel="stylesheet" type="text/css" href="{% static 'inv/css/bootstrap.min.css' %}">
<!-- Datatables CSS Bundle -->
<link rel="stylesheet" type="text/css" href="{% static 'inv/css/DataTables/datatables.min.css' %}"/>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      body { padding-top: 70px;}
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      /* these items provide styling to the keyword filter on the Items page */
      .on { font-weight: bold }
      .off { font-style: italic}
      .neutral { font-weight: normal; font-style: normal }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Mobiliaire Inventory Manager <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
         data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Reports</a>
       <div class="dropdown-menu" aria-labelledby="dropdown01">
         <a class="dropdown-item" href="{% url 'reports' %}">Reports Page</a>
         <a class="dropdown-item" href="{% url 'report_itms' %}">Items</a>
         <a class="dropdown-item" href="{% url 'report_boxes' %}">Items by Box</a>
         <a class="dropdown-item" href="{% url 'report_whs' %}">Items by Warehouse and Box</a>
         <a class="dropdown-item" href="{% url 'report_full' %}">Full Report</a>
     </li>
     <!-- Placeholder for reports menu item excluder comment end tag-->
      {% if edit_buttons %}
      <li class="nav-item">
        <a class="nav-link" href="/admin" tabindex="-1" >Manage Data</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Browse</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="{% url 'warehouses' %}">Warehouses</a>
          <a class="dropdown-item" href="{% url 'boxes' %}">Boxes</a>
          <a class="dropdown-item" href="{% url 'items' %}">Items</a>
          <a class="dropdown-item" href="{% url 'keywords' %}">Keywords</a>
          <a class="dropdown-item" href="{% url 'consumables' %}">Consumables</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" name="search" action="{% url 'search' %}" method="get">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main">
{% block content %}
{% endblock %}

</main>

{% include "inv/footer.html" %}

<script type="text/javascript" src="{% static 'inv/js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'inv/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'inv/js/DataTables/datatables.min.js' %}"></script>
<!-- custom js scripts -->
<script type="text/javascript" src="{% static 'inv/js/index.js' %}"></script>
</body>
</html>
