{% extends 'inv/base.html' %}


{% block content %}
{% load static %}

{% include 'inv/obj_header.html' with object_type='box' object_id=box.box_id object_name=box.box_name object_img=box.box_img parent_name=box.warehouse parent_type='warehouse' u_items=items.item_totals.icount t_items=items_sum itemval=items.item_totals.val mobile=mobile %}

  <div class="row p-3 mw-100">
    {% for i in items %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2 themed-grid-col">
        {% include 'inv/card.html' with object_type='item' object_id=i.item_id.item_id object_name=i.item_id.item_name object_img=i.item_id.item_img object_img_thumb=i.item_id.item_img_thumb object_info=i.item_id.item_desc object_box_id=i.item_id.boxid object_box_name=i.item_id.box object_warehouse_id=i.item_id.whid object_warehouse_name=i.item_id.wh object_qty=i.item_id.item_qty object_val=i.item_id.item_value object_totval=i.item_id.totval object_consumable=i.item_id.consumable object_rem=i.item_id.item_remaining object_kw=i.item_id.kw_itm.all mobile=mobile %}

      </div><!-- /col-->




        {% endfor %}
  </div><!-- /row-->


{% endblock %}
