{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="row my-3 mw-100">
  <div class="col-md-11 offset-1">
  <h1>Boxes</h1>
  <p class="lead">A Box holds a collection of Items.</p>
  </div><!--col-->
  </div><!--row-->

<div class="container mx-auto no-gutters" style="max-width: 90%">
  <div class="row mb-3">
    {% for b in boxes %}
    <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 my-2 themed-grid-col">

{% include 'inv/card.html' with object_type="box" object_id=b.box_id object_name=b.box_name object_img=b.box_img object_img_thumb=b.box_img_thumb object_info=b.box_description object_parent_id=b.warehouse_id object_parent_name=b.warehouse object_items=b.num_items mobile=mobile %}
    </div><!-- /column -->
    {% endfor %}<!-- b in boxes -->
  </div><!-- /row -->

</div><!-- /container -->
{% endblock %}
