{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
  <div class="row justify-content-center">
  <div class="col-10">
    <h1><small>Box Inventory Status For:</small><br/>{{ box.box_id }}) {{ box.box_name }}</h1>
    {% if context.t == context.today %}
    <p>for {{ context.t }}</p>
    {% else %}
    <p class='alert alert-danger'>Warning! Using this form will add back-dated
    entries, as the date is set to <strong>{{ context.t }}</strong></p>
    {% endif %}
    <div id="tableaccordion">
      <div class="card">
        <div class="card-header" id="tableheadingOne">
          <h2 class="mb-0"><button class="btn btn-link" data-toggle="collapse"
              data-target="#tablecollapseOne" aria-expanded="false"
                                         aria-controls="tablecollapseOne">
              Completed Items ({{ update_formset.initial_form_count }})</button></h2>
        </div>
<div id="tablecollapseOne" class="collapse" aria-labelledby="tableheadingOne"
                                       data-parent="#tableaccordion">
  <div class="card-body">
    {% if update_formset %}
    <form method="post" action='/inventory/box/{{ box.box_id }}/'>
      {% csrf_token %}
      {{ update_formset.management_form }}
      {{ update_formset.non_form_errors }}
    <table class='table'>
  <caption>These items have already been inventoried</caption>
  <thead>
    <tr>
      <th>Image</th><th>ID</th><th>Item Name</th><th>Qty</th>
      <th>Comment</th><th>Delete?</th>
    </tr>
  </thead>
  {% if updateform|length > 10 %}
  <tfoot><tr>
      <th>Image</th><th>ID</th><th>Item Name</th><th>Qty</th>
      <th>Comment</th><th>Delete?</th>
    </tr></tfoot>
  {% endif %}
  <tbody>
    {% for item, form in updateform %}
    {% if form.errors %}
      <tr>
      <td colspan=3>
        {{ form.non_field_errors }}
      </td>
      <td colspan=2>
      {% for field in form %}
      {% if field.errors %}
      {% for error in field.errors %}
        {{ error|escape }};
      {% endfor %}
      {% endif %}
      {% endfor %}
    </tr>
    {% endif %}
    <tr>
      <td><a href="{% url "item" item.item_id_id %}" target="_blank">
      {% if item.img_thumb|length > 0 %}
      <img src="{% static 'inv/img/'|add:item.img_thumb %}"
           height="50" alt="{{ item.item_id }}">
      {% elif item.img|length > 0 %}
      <img src="{% static 'inv/img/'|add:item.img %}"
           height="50" alt="{{ item.item_id }}">
      {% endif %}
      </a>
      </td>
      <td>{{ item.item_id_id }}</td>
      <td>{{ item.item_id }}</td>
      <td>{{ item.qty }}</td>
      <td>{{ form.inv_id }}
        {{ form.inv_date.as_hidden }}
        {{ form.inv_item.as_hidden }}
        <label class="d-none" for="{{ form.inv_comment.auto_id }}">
          Comment</label>
        {{ form.inv_comment }}</td>
      <td><label class="d-none" for="{{ form.DELETE.auto_id }}">
          Delete this record?</label>
          {{ form.DELETE }}</td>
    </tr>
    {% endfor %}
  </tbody></table>
  <input class='btn btn-primary' type="submit"
  name="submitUpdate"></input>
    </form>
  {% else %}
  No rows to display.
  {% endif %}
  </div></div></div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse"
                       data-target="#tablecollapseTwo" aria-expanded="true"
                                                  aria-controls="tablecollapseTwo">
          Incomplete Items ({{ add_formset.initial_form_count }})</button></h2>
</div><!-- card header -->
<div id="tablecollapseTwo" class="collapse show" aria-labelledby="tableheadingTwo"
                                            data-parent="#tableaccordion">
  <div class="card-body">
      {% if add_formset %}
      <form method="post" action='/inventory/box/{{ box.box_id }}/'>
      {% csrf_token %}
      {{ add_formset.management_form }}
      {{ add_formset.non_form_errors }}
        <table class='table'>
  <caption>Today is {{ context.today }} and these items have not been inventoried yet</caption>
  <thead>
    <tr>
      <th>Image</th><th>ID</th><th>Item Name</th><th>Qty</th>
      <th>Last Inv</th><th>Comment</th><th>Add?</th>
    </tr>
  </thead>
  {% if addform|length > 10 %}
  <tfoot>
    <tr>
      <th>Image</th><th>ID</th><th>Item Name</th><th>Qty</th>
      <th>Last Inv</th><th>Comment</th><th>Verify</th>
    </tr>
  </tfoot>
  {% endif %}
  <tbody>
    {% for item, form in addform %}
    <tr>
      <td>
      <a href="{% url "item" item.item_id_id %}" target="_blank">
      {% if item.img_thumb|length > 0 %}
      <img src="{% static 'inv/img/'|add:item.img_thumb %}"
           height="50" alt="{{ item.item_id }}">
      {% elif item.img|length > 0 %}
      <img src="{% static 'inv/img/'|add:item.img %}"
           height="50" alt="{{ item.item_id }}">
      {% endif %}
      </a>
      </td>
      <td>{{ item.item_id_id }}</td>
      <td>{{ item.item_id }}</td>
      <td>{{ item.qty }}</td>
      <td>{{ item.last_inv }}</td>
      <td>{{ form.inv_item }}
        {{ form.inv_date }}
        <label class="d-none" for="{{ form.inv_comment_auto_id }}">
          Comment</label>
        {{ form.inv_comment }}</td>
      <td><label class="d-none" for="{{ form.addnew.auto_id }}">
        Add inventory record for this item?</label>{{ form.addnew }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
  <input class='btn btn-primary' name="submitAdd" type="submit"></input>
      </form>
{% else %}
No rows to display.
{% endif %}
  </div></div></div> <!-- close card body, collapse, and card divs -->
  </div><!-- close accordion -->
  </div><!-- col -->
  </div><!-- row -->
{% endblock %}
