{% comment %}
This template extends warehouse.html, box.html, warehouses.html, boxes.html,
items.html, search.html, and keywords.html, keeping the basic card layout
standard and putting it all in a single location.

This template requires the following variables:
All: object_type (string, warehouse|box|item), object_id, object_name,
object_img, object_img_thumb, object_info

Warehouse type: object_loc, object_boxes

Box type: object_parent_id (warehouse id), object_parent_name (warehouse name),
object_items (number of items)

Item type: object_box_id, object_box_name, object_warehouse_id,
object_warehouse_name, object_qty, object_val, object_totval, object_consumable
(bool), object_rem (items remaining, if consumable), object_kw (keywords
object)

Optional: mobile (if the end-user is browsing on a mobile device and
MOBILE_UPLOADS is True, we show a button to the camera view, passing "upload"
as the method.)
{% endcomment %}

{% load static %}
<!-- begin card -->
<div class="card mb-4 border-dark d-flex align-items-stretch h-100">

  <!-- begin card header -->
  <div class="card-header">
    <h5 class="card-title text-nowrap" style="white-space: nowrap; overflow:
      hidden; text-overflow: ellipsis;">{{ object_type|capfirst }} {{ object_id }}: {{ object_name }}</h5>
  </div><!-- end card header -->

  <!-- begin view and possibly edit buttons -->
  <div class="list-group list-group-flush">
    <!-- these are anchors masquerading as list elements -->

    <!-- view link -->
    <a class="list-group-item list-group-item-action bg-primary text-white
              text-center p-1"
          href="{% url object_type object_id %}">View</a>
    {% if edit_buttons %}
    <!-- edit link -->
    {% comment %}
    For selection of edit links: unless model is adjusted, we need 3 options
    here because of warehouse vs boxes vs items
    If selection was warehouse vs box vs item, we would only need one.
    {% endcomment %}
    {% if user.is_authenticated %}
    {% if object_type == 'warehouse' %}
    <a class="list-group-item list-group-item-action bg-primary text-white
              text-center p-1"
          href="/admin/inv/warehouse/{{ object_id }}/change"
          target="_blank">Edit</a>
    {% elif object_type == 'box' %}
    <a class="list-group-item list-group-item-action bg-primary text-white
              text-center p-1"
          href="/admin/inv/boxes/{{ object_id }}/change"
          target="_blank">Edit</a>
    {% else %}
    <a class="list-group-item list-group-item-action bg-primary text-white
              text-center p-1"
          href="/admin/inv/items/{{ object_id }}/change"
          target="_blank">Edit</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% if user.is_authenticated and object_type == 'box' %}
    <a class="list-group-item list-group-item-action bg-primary text-white
              text-center p-1"
       href="/inventory/box/{{ object_id }}/">Inventory Form</a>
    {% endif %}
  </div><!-- end of button list-group -->
  <!-- object image -->
  {% if object_img_thumb|length > 0 %}
  <!-- object has a thumbnail img; use it -->
  <img class="card-img-top img-responsive"
            src="{% static 'inv/img/'|add:object_img_thumb %}"
                 alt="{{ object_type|capfirst }} {{ object_id }}: {{ object_name }}">
  {% elif object_img|length > 0 %}
  <!-- object does not have a thumbnail but does have a full-size image; use that
  -->
  <img class="card-img-top img-responsive"
       src="{% static 'inv/img/'|add:object_img %}"
            alt="{{ object_type|capfirst}} {{ object_id }}: {{ object_name }}">
  {% else %}
  <p class="text-center my-2 mx-auto">A photograph of this {{ object_type }} isn't available.</p>
  {% endif %}
  {% if camera != 'None' %}
  <!-- camera is enabled -->
  {% comment %}
  what we're doing with |slugify in the next line is converting an int to a str
  {% endcomment %}
  {% with objtype=object_type|add:'_' objid=object_id|slugify %}
  <p><a class="btn btn-primary center"
        href="{% url 'capture' camera objtype|add:objid %}"
        target="_blank">Submit a new photo via the camera</a></p>
  {% endwith %}
  {% elif mobile %}
  <!-- mobile photo submission is possible -->
  {% with objtype=object_type|add:'-' objid=object_id|slugify %}
  <p class="text-center"><a class="btn btn-primary"
        href="{% url 'capture' 'upload' objtype|add:objid %}"
        target="blank">Submit a new photo via mobile device</a></p>
  {% endwith %}
  {% elif photo_email|length > 0 %}
  <!-- there's no camera support, but an "email a photo" address is set -->
  <!-- modal button -->
  <p class="text-center my-1">
  <button type="button" class="btn btn-primary mx-auto" data-toggle="modal"
          data-target="#photo-send-{{object_type}}-{{object_id}}">
      How to Submit a Photo
  </button>
  </p>
  <!-- modal -->
  <div class="modal" tabindex="-1" role="dialog"
       id="photo-send-{{object_type}}-{{object_id}}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">How to Update Photo</h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!-- end modal-header -->
        <div class="modal-body">
          <p class="text-center small">You may submit a photo of this {{ object_type }} by emailing it to
          <br/><strong>{{ photo_email }}</strong>
          <br/>Please mention "{{ object_type|capfirst }} {{ object_id }}" in
          your correspondence.</p>
        </div><!-- end modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
                                data-dismiss="modal">Close</button>
        </div><!-- end modal-footer -->
      </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
  </div><!-- end modal -->
  {% endif %}

  <div class="card-body">

    {% if object_type == 'warehouse' %}
    <!-- card body for warehouse -->
    <div class="card-text mx-0">
      <p class="lead">This warehouse is located at {{ object_loc }}.</p>
      <p>Additional information:<br/>{{ object_info }}</p>
    </div><!-- end card-text -->

    {% elif object_type == 'box' %}
    <!-- card body for box -->
    <div class="card-text mx-0">
      {% if object_parent_id %}
      <p class="lead">This box is part of
      <a class="card-link" href="{% url 'warehouse' object_parent_id %}">
        Warehouse {{ object_parent_id }}: {{ object_parent_name }}</a></p>
      {% endif %}
      <p>{{ object_info }}</p>
    </div><!-- end card-text -->

    {% else %}
    <!-- card body for item -->
    <div class="card-text mx-0">
      {% if object_box_id %}
      <p class="lead">This item is part of <a href="{% url 'box' object_box_id %}">Box {{ object_box_id }}: {{ object_box_name }}</a>, which is part of <a href="{% url 'warehouse' object_warehouse_id %}">Warehouse {{ object_warehouse_id }}: {{ object_warehouse_name }}</a>.
      {% endif %}
      <ul>
      <li>Description: {{ object_info }}</li>
      <li>Quantity: {{object_qty }}</li>
      <li>Value (each): &dollar;{{ object_val|floatformat:2 }}</li>
      {% if object_qty > 1 %}
      <li>Value (total): &dollar;{{ object_totval|floatformat:2 }}</li>
      {% endif %}
      {% if object_consumable == True %}
      <li>Consumable: Yes</li>
      <li>Percent remaining: {{ object_rem }}&percnt;</li>
      {% else %}
      <li>Consumable: No</li>
      {% endif %}
      </ul>
    </div><!-- end card-text -->
    {% endif %}
  </div><!-- end card-body -->
    <!-- card footer -->
    <div class="card-footer">
      {% if object_type == 'warehouse' %}
      <!-- warehouse footer -->
      <p class="card-text">There {{ object_boxes|pluralize:'is, are' }} {{object_boxes }} box{{ object_boxes|pluralize:'es' }} attached to this
      warehouse.</p>

      {% elif object_type == 'box' %}
      <!-- box footer -->
      <p class="card-text">There {{ object_items|pluralize:'is,are' }} {{object_items }} item{{ object_items|pluralize }} attached to this
      box.</p>

      {% else %}
      <!-- item footer -->
      <h6>Keywords</h6>
      {% if object_kw %}

      <ul class="list list-inline">
        {% for k in object_kw %}
        <li class="list-inline-item">
          <a class="badge badge-primary" href="{% url 'keyword' k.keyword_id|slugify
                                        %}">{{ k.keyword_id }}</a>
        </li>
        {% endfor %}
      </ul>

      {% else %}
      No keywords. Perhaps you could suggest some?
      {% endif %}
      {% endif %}
    </div><!-- /card-footer -->

  </div><!-- end card -->
