{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello!</h1>
      <p class="lead">Welcome to the Mobiliaire Inventory Manager!</p> 
     <p>There are {{ item_count }} unique Item entr{{ item_count|pluralize:'y,ies' }} ({{ item_total }} item{{ item_total|pluralize }} including multiples) 
     in {{ box_count.count }} boxes across {{ warehouse_count.count }} warehouses.<br/>The estimated total replacement value of all items is ${{ val.val|floatformat:2 }}.</p>
     <!-- commented out because it doesn't do anything, but preserved for when there's front-end documentation -->
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>

  <div class="container">
    <!-- First Row of Link Items -->
    <div class="row my-1">
      <div class="col-md-4">
        <div class="card d-flex align-items-stretch h-100">
        <h2 class="card-header">Warehouse List</h2>
        <p class="card-body">A Warehouse is a geographic location which contains one or more boxes. </p>
        <div class="card-footer">
        <a class="btn btn-secondary" href="{% url 'warehouses' %}" role="button">View Warehouses &raquo;</a>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card d-flex align-items-stretch h-100">
        <h2 class="card-header">Box List</h2>
        <p class="card-body">A Box contains one or more Items that are grouped
        together. Not all Boxes are literal.</p>
        <div class="card-footer">
        <a class="btn btn-secondary" href="{% url 'boxes' %}" role="button">View Boxes &raquo;</a>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card d-flex align-items-stretch h-100">
        <h2 class="card-header">Item List</h2>
        <div class="card-body">
        <p>A list of all Items in the database.</p>
        <p>If there are a lot of Items in the database, the Item List page may take
        a few seconds to load.</p>
        </div>
        <div class="card-footer">
        <a class="btn btn-secondary" href="{% url 'items' %}" role="button">View Items &raquo;</a>
        </div>
        </div>
      </div>
    </div>
    <!-- Second Row of Link Items -->
    <div class="row my-1">
      
      <div class="col-md-4">
        <div class="card d-flex align-items-stretch h-100">
          <h2 class="card-header">Reports</h2>
          <p class="card-body">Generate Reports and Inventory Management Aids</p>
          <div class="card-footer">
            <a class="btn btn-secondary" href="{% url 'reports' %}" role="button">Reports</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-8"><!-- usually col-md-4 -->
        <div class="card d-flex align-items-stretch h-100">
        <h2 class="card-header">Search</h2>
        <p class="card-body">You may search for items, boxes, warehouses, and keywords by typing your search term into the search box in the upper right corner of any page.
        <br/>This search does not handle complex queries well, so try limiting your search to a single term (word). You will be able to filter
            results by keyword on the search results page.</p>
      </div>

  </div> <!-- /container -->

{% endblock %}
