{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container-fluid">
  <h1>Inventory Dashboard</h1>
  <div class="row my-2">
    <div class="col">
      <h2>Total Progress</h2>
      <div class="row justify-content-center">
        <div class="col">
          <div class="m-1 p-1 border border-secondary rounded"
            style="background-color: rgba(52,58,64,.15);">
            <p>
              {{ totals.total_items_complete }} of {{ totals.total_items }} complete
            </p>
            <div class="row">
              <div class="col">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped {{ totals.level }}"
                    role="progressbar"
                    aria-valuenow="{{ totals.total_items_complete }}"
                    aria-valuemin="0"
                    aria-valuemax="{{ totals.total_items }}"
                    {% if totals.percent == 0 %}
                    style="width: {{ totals.percent|add:"0.1"|floatformat }}%;">
                    {% else %}
                    style="width: {{ totals.percent|floatformat }}%;">
                    {% endif %}
                    {{ totals.percent|floatformat }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <h2>Progress by Box</h2>
      <div class="row justify-content-center">
        {% for box in boxes %}
          <div class='col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-12'>
            <div class="m-1 p-1 border border-secondary rounded"
              style="background-color: rgba(52,58,64,.15);">
              <p>
                Box {{ box.box_id }}) {{ box.box_name }}
                [{{ box.c_items }}/{{ box.t_items }} items]
              </p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped {{ box.level }}"
                  role="progressbar"
                  aria-valuenow={{ box.c_items }}
                  aria-valuemin=0
                  aria-valuemax={{ box.t_items }}
                  {% if box.percent == 0 %}
                  style="width: {{ box.percent|add:"0.1"|floatformat }}%">
                  {% else %}
                  style="width: {{ box.percent|floatformat }}%">
                  {% endif %}
                  {{ box.percent|floatformat }}%
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div> <!-- /container -->
    <script type="text/javascript">
      setTimeout(function(){window.location.reload();}, 300000);
     </script>
{% endblock %}
