{% extends 'inv/base.html' %}

{% block content %}
{% load static %}

<div class="row justify-content-center">
  <div class="col-10">
    <h1>Inventory Lookout List</h1>
    <p>Items which have not been inventoried within the last 365 days.
    Organized by box, then listed by Item ID.</p>
    {% for box in boxes %}
    <h2>Box {{ box.box_id }}: {{ box.box_name }}</h2>
    <table class="table">
      <thead>
        <tr><td>Item ID</td><td>Item
            Name</td><td>Quantity</td><td>Consumable?</td><td>Last Inventory
            Date</td>
        </tr>
        <tbody>
        {% for item in items %}
        {% if item.box_id == box.box_id %}
        <tr>
          <td>{{ item.item_id }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.item_qty }}</td>
          <td>{{ item.consumable }}</td>
          <td>{{ item.inv_date }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
        {% if box.items|length > 10 %}
        <tfoot>
          <tr>
            <td>Item Id</td>Item
            Name</td><td>Quantity</td><td>Consumable?</td><td>Last Inventory
            Date</td>
          </tr>
        </tfoot>
        {% endif %}
    </table>
    <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
