{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid clearfix">
  <div class="row my-3">
  <div class="col-md-8 offset-2">
    <h1 class="mx-4">Items</h1>
  <p class="lead mx-4">There are {{ items|length }} items in this collection,
  arranged in alphabetical order by item name.</p>
  </div><!--col -->
  </div><!--row-->
<!-- sidebar -->
<nav class="sidebar col-md-2 float-left">
<h4 class="text-center">Filter by Keyword</h4>
<div class="list-group list-group-flush mx-1">
<button class="lead remove list-group-item list-group-item-warning py-1 ">Reset</button>
</div>
<hr>
<div class="list-group list-group-flush mx-1">

  {% for k in kw %}
  <button class="list-group-item list-group-item-primary neutral kw {{ k.keyword|slugify }} py-1">{{ k.keyword }}</button>
  {% endfor %}
</div>
</nav>
<main role="main" class="col-md-10 float-right">

  <div class="row mb-3">
    {% for i in items %}
    <div class="col-md-12 col-lg-6 col-xl-4 col-xxl-3 themed-grid-col item my-2 mx-n2
                {% for k in i.kw_itm.all %} {{ k.keyword_id|slugify }}{% endfor %}">

    {% include 'inv/card.html' with object_type="item" object_id=i.item_id object_name=i.item_name object_img=i.item_img object_img_thumb=i.item_img_thumb object_info=i.item_desc object_box_id=i.boxid object_box_name=i.box object_warehouse_id=i.whid object_warehouse_name=i.wh object_qty=i.item_qty object_val=i.item_value object_totval=i.totval object_consumable=i.consumable object_rem=i.item_remaining object_kw=i.kw_itm.all mobile=mobile %}

    </div>
    {% endfor %}
  </div><!-- end cards row -->
</main>
</div>
<div class="clear">
  <hr/>
  </div>
{% endblock %}
