{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid clearfix">

  {% if not items %}
  <div class="row px-5">
  <div class="col-md-12 p-3 border-bottom border-dark"><h1>Keywords</h1>
  <p class="lead">There are {{ kw|length }} keywords in this collection.</p>
  </div><!--col-->
  </div><!--row-->
  <div class="row">
    {% for k in kw %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3">
      <a href="{% url 'keyword' k.keyword_slug %}">
        <button class="btn btn-primary d-flex w-100 justify-content-between align-items-center">
          {{ k.keyword }} <span class="badge badge-light badge-pill text-dark">{{ k.tot }}</span></button>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% if items %}
<div class="row px-5">
<div class="col-md-12 p-3 border-bottom border-dark">
  <h1>{{ keyword.keyword }}</h1>

  <p class="lead">There are {{ items|length }} items tagged with this keyword.</p>
  <p><a href="{% url 'keywords' %}">List all Keywords</a></p>

  </div><!--col-->
  </div><!--row-->
  <div class="row p-3">
    {% for i in items %}

       <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 my-2 themed-grid-col item {% for k in i.kw_itm.all %} {{ k.keyword_id|slugify }}{% endfor %}">

         {% include 'inv/card.html' with object_type='item' object_id=i.item_id object_name=i.item_name object_img=i.item_img object_img_thumb=i.item_img_thumb object_info=i.item_desc object_box_id=i.boxid object_box_name=i.box object_warehouse_id=i.whid object_warehouse_name=i.wh object_qty=i.item_qty object_val=i.item_value object_totval=i.totval object_consumable=i.consumable object_rem=i.item_remaining object_kw=i.kw_itm.all %}

  
      </div>
    {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock %}
