{% comment %}
This template extends warehouse.html, box.html, and item.html, keeping the
layouts similar and putting it all in one single location.
{% endcomment %}
{% load static %}
<div class="jumbotron">
<div class="row py-3">
<div class="col-md-9">
<h1>{{ object_type|capfirst }} {{ object_id }}: {{ object_name }}</h1>
{% if object_type == 'warehouse' %}
<p class="lead">This warehouse is located at {{ object_loc }}.</p>
<p>It contains {{ u_items }} unique Item{{ u_items|pluralize }} ({{ t_items }} total Item{{ t_items|pluralize }} including
multiples) across {{ t_boxes }} Box{{ t_boxes|pluralize:'es' }}
with a total value of &#36;{{ itemval|floatformat:2 }}</p>
{% elif object_type == 'box' %}
<p class="lead">This {{ object_type }} is part of the {{ parent_name }} {{ parent_type }}.</p>
<p>It contains {{ u_items }} unique Item{{ u_items|pluralize }} ({{ t_items }} total Item{{ t_items|pluralize }} including multiples) with a total
value of &#36;{{ itemval|floatformat:2 }}.</p>
{% elif object_type == 'item' %}
<!-- start of item section -->
<p class="lead">This Item currently lives in Box {{ parent_id }}: {{ parent_name }}, which
is housed in the {{ grandparent_name }} warehouse.</p>
<h2>Details</h2>
<p>{{ object_desc }}</p>
<ul>
  <li>Quantity: {{ object_qty }}</li>
  <li>Value (each): &#36;{{ object_val|floatformat:2 }}</li>
  {% if object_qty > 1 %}
  <li>Value (total): &#36;{{ object_totval|floatformat:2 }}</li>
  {% endif %}
  {% if object_consumable %}
  <li>Consumable: Yes</li>
  <li>Percent Remaining: {{ obj_rem }}&%37;
  {% else %}
  <li>Consumable: No</li>
  {% endif %}
</ul>
{% if object_kw %}
<!-- start of keywords -->
<h3>Keywords:</h3>
<ul class="list list-inline">
  {% for k in object_kw %}
  <li class="list-inline-item">
    <a class="btn btn-primary" role="button" href="{% url 'keyword' k.keyword_id|slugify %}">
      {{ k.keyword_id }}</a>
  </li>
  {% endfor %}
</ul>
<!--end of keywords -->
{% endif %}
<!-- end of Item section -->
{% endif %}

{% if edit_buttons %}
<p>
{% comment %}
The following if/then group is necessary because of a naming mismatch in the
models. Until the models are harmonized to "warehouse, box, item" instead of
the current "warehouse, boxes, items", this will need to be in place, and
a similar setup can be found in card.html. Mobiliaire Issue #67.
{% endcomment %}
{% if object_type == 'item' %}
<a href="/admin/inv/items/{{object_id}}/change" target="_blank">Edit this {{ object_type }}</a></p>
{% elif object_type == 'box' %}
<a href="/admin/inv/boxes/{{object_id}}/change" target="_blank">Edit this {{ object_type }}</a></p>
{% else %}
<a href="/admin/inv/{{object_type}}/{{object_id}}/change" target="_blank">Edit this {{ object_type }}</a></p>
{% endif %}
{% endif %}
</div><!--/col-md-9-->
<div class="col-md-3">
<figure class="figure">
{% if object_img|length > 0 %}
<img class="img-fluid figure-img"
     src="{% static 'inv/img/'|add:object_img %}"
     alt="Photo of {{ object_type|capfirst }} {{ object_id }}: {{ object_name }}"/>
<figcaption class="figcaption">
<p class="text-center">{{ object_type|capfirst }} {{ object_id }}: {{ object_name }}</p>

{% if camera != 'None' %}
<!-- begin camera -->
<p class="text-center">
{% with id=object_id|stringformat:"i" %}
{% with filename=object_type|add:'_'|add:id %}
<a href="{% url 'capture' camera filename %}"
   target="_blank">Submit a new photo via the camera.</a>
{% endwith %}
{% endwith %}
{% elif mobile %}
{% with id=object_id|stringformat:"i" %}
{% with filename=object_type|add:'_'|add:id %}
<a href="{% url 'capture' 'upload' filename %}" target="_blank">
  Submit a new photo using your mobile device camera</a>
{% endwith %}
{% endwith %}
</p>
{% else %}
<p class="text-center">
<button type="button" class="btn btn-primary mx-auto" data-toggle="modal"
                                              data-target="#photo-send">
  How to Submit a Photo
</button>
</p>
<div class="modal" tabindex="-1" role="dialog" id="photo-send">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">How to Update Photo</h5>
      <button type="button" class="close" data-dismiss="modal"
                                          aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center small">You may submit a photo of this {{ object_type }} by emailing it to
      <br/><strong>{{ photo_email }}</strong>
      <br/>Please mention "{{ object_type|capfirst }} {{ object_id }}" in your correspondence.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
                          data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
{% endif %}
</figcaption>
{% else %}
<figcaption class="figcaption">
<p class="alert alert-warning text-center">A photo of this {{ object_type|capfirst }} is not available.</p>

{% if camera != 'None' %}
<!-- begin camera -->
<p class="text-center">
{% with id=object_id|stringformat:"i" %}
{% with filename=object_type|add:'_'|add:id %}
<a href="{% url 'capture' camera filename %}"
   target="_blank">Submit a new photo via the camera.</a>
{% endwith %}
{% endwith %}
</p>
{% else %}
<p class="text-center">
<button type="button" class="btn btn-primary mx-auto" data-toggle="modal"
                                                data-target="#photo-send">
    How to Submit a Photo
</button>
</p>
<div class="modal" tabindex="-1" role="dialog" id="photo-send">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">How to Update Photo</h5>
        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center small">You may submit a new photo of this {{
        object_type }} by emailing it to
        <br/><strong>{{ photo_email }}</strong>
        <br/>Please mention "{{ object_type|capfirst }} {{ object_id }}" in
        your correspondence.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                              data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
</figcaption>
{% endif %}
</figure>
</div><!--col-md-3 -->
</div><!-- /row -->
</div><!--jumbotron-->
