{% extends 'inv/base.html' %}
{% block content %}
{% load static %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Reports</h1>
      <p class="lead">The following Reports are available
      <dl class="row">
        <dt class="col-sm-3">Item Reports</dt>
        <dd class="col-sm-9">
          <ul type="none">
            <li>
              <a href="{% url 'report_itms' %}">Items</a>
            </li>
            <li>
              <a href="{% url 'report_boxes' %}">Items organized by box</a>
            </li>
            <li>
              <a href="{% url 'report_whs' %}">Items organized by warehouse and box</a>
            </li>
          </ul>

        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Inventories</dt>
        <dd class="col-sm-9">
          <ul type="none">
            <li><a href="{% url 'inventories' %}">Past Inventories By
                Date</a></li>
            <li><a href="{% url 'inventorydash' %}">Inventory
                Dashboard</a></li>
			<li><a href="{% url 'inventory_lookout' %}">Inventory Lookout List</a>
			 - List of items last inventoried greater than 1 year ago (or never)
          </ul>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Exporting</dt>
        <dd class="col-sm-9">
          <ul type="none">
            <li>
              <a href="{% url 'report_full' %}">"Full Report" page to faciliate data exporting</a>
            </li>
          </ul>
        </dd>
      </dl>
     </div> <!-- /container-->
  <hr>
</div><!-- /jumbotron -->
{% endblock %}
