{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container">
  <h1>Items Organized by Box</h1>
  <p class="lead">Box headings and table captions (bottom-left of each table) link to a similar report for that
    single box. Item links lead to each item's detail page.</p>

    {% if boxes|length > 1 %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto px-2">
        <li class="nav-item dropdown"><a class="nav-link navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jump to:</a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for b in boxes %}
        <a class="dropdown-item" href="#{{ b.box_id }}">{{ b.box_id }} | {{ b.box_name }}</a>

        {% endfor %}
        </li>
      </ul>
      </div>
      <p class="navbar-text my-auto mb-2">To jump to a specific box, click or tap on "Jump to:" and select the
      box you want.</p>
    </nav>
    {% endif %}
    
  <!-- create the tables -->
  {% for b in boxes %}
  <a name="{{ b.box_id }}"></a>
    <div class="container border border-secondary mb-4" style="padding-left:
                0px; padding-right: 0px">
      <div class="header bg-secondary d-md-flex align-items-center
        justify-content-between" role="box-heading">
      <div>
        <h2 class="pl-1 mr-3">
          <a class="text-light" href="{% url 'report_box' b.box_id %}">
            {{ b.box_id }} | {{ b.box_name }}</a></h2></div>
      <div>
        <p class="lead mr-1 my-auto text-light" style="overflow: hidden;
                  white-space: nowrap; text-overflow: ellipsis;">{{ b.box_description }}</p></div>
      </div>
    <div class="row mx-1 d-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex">
      <div class="col-md-4"><p class="text-left">Show more or fewer table rows</p></div>
      <div class="col-md-4"><p class="text-center">Download this
        Table</p></div>
      <div class="col-md-4"><p class="text-right">Search in this
        table</p></div>
    </div><!-- end row -->
    <div class="table-responsive">
    <table id="box-{{ b.box_id }}" class="t1 table table-striped boxtable w-100 d-block d-md-table">
      <caption style="caption-side:bottom"><a
            href="{% url 'report_box' b.box_id %}">Box {{ b.box_id }} | {{ b.box_name }}</a></caption>
       <thead class="thead-light">
        <tr>
           <th scope="col">ID</th>
           <th scope="col">Name</th>
           <th scope="col">Description</th>
           <th scope="col">Quantity</th>
           <th scope="col">Value Each</th>
           <th scope="col">Total Value</th>
           <th scope="col">Is Consumable?</th>
           <th scope="col">Percent Remaining</th>
          </tr>
       </thead>
       <tbody>
            {% for i in items %}
              {% if b.box_id == i.boxid %}
                <tr id="item-{{ i.item_id }}" scope="row"}>
                  <td>{{ i.item_id }}</td>
                  <td><a href="{% url 'item' i.item_id %}">{{ i.item_name }}</a></td>
                  <td>{{ i.item_desc }}</td>
                  <td>{{ i.item_qty }}</td>
                  <td>&#36;{{ i.item_value|floatformat:2 }}</td>
                  <td>&#36;{{ i.totval|floatformat:2 }}</td>
                  <td>{{ i.item_consumable }}</td>
                  <td>{{ i.item_remaining }}&#37;</td>
                </tr>
              {% endif %}<!-- end of item filter -->
            {% endfor %}<!-- end of item loop -->
        </tbody>
      </table>
    </div><!-- end 'table-responsive' div -->
    </div><!-- end box container -->
    {% endfor %}<!-- end of box loop -->
  <hr/>
</div>
{% endblock %}
