{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid clearfix">
  <div class="col-md-8 offset-2"><h1>Search Results</h1>
    <p class="lead">Your query returned the following results:</p>
    </div>
    <hr>
<!-- sidebar -->
<nav class="sidebar col-md-2 float-left">
<h4 class="text-center">Filter by Keyword</h4>
<button class="btn btn-warning btn-sm btn-block mb-1 remove justify-content-center"
        role="reset">Reset</button>
<div class="list-group list-group-flush mx1">
</div>
<div class="list-group list-group-flush mx-1">
  {% for k in kw %}
  <button class="list-group-item list-group-item-primary py-1 neutral kw {{ k.keyword|slugify }}">{{ k.keyword }}</button>
  {% endfor %}
</div>
</nav>

<main role="main" class="col-md-10 float-right">
  {% if kw_result %}
  <div class="border border-success alert alert-success">
  <div class="row ml-3">
    <div class="col-md-12">
      <p class="lead">Keyword Matches</p>
    </div>
    </div>
    <div class="row ml-3">
      {% for k in kw_result %}
        <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <a class="badge badge-success" href="{% url 'keyword' k.keyword|slugify %}">{{ k.keyword }}</a>
        </div>
        {% endfor %}
  </div>
  </div>
{% else %}
<div class="border border-warning alert alert-warning">
<div class="row ml-3">
  <div class="col-md-12">
    <p class="lead">No Keyword Matches</p>
  </div>
  </div>
</div>
{% endif %}
{% if box_result %}
<div class="border border-success alert alert-success">
<div class="row ml-3">
  <div class="col-md-12">
    <p class="lead">Box Matches</p>
  </div>
  </div>
  <div class="row ml-3">
    {% for b in box_result %}
      <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <a class="badge badge-success" href="{% url 'box' b.box_id %}">Box {{ b.box_id }}: {{ b.box_name }}</a>
      </div>
      {% endfor %}
</div>
</div>
{% else %}
<div class="border border-warning alert alert-warning">
  <div class="row ml-3">
    <div class="col-md-12">
      <p class="lead">No Box Matches</p>
    </div>
  </div>
</div>
{% endif %}
{% if wh_result %}
<div class="border border-success alert alert-success">
<div class="row ml-3">
  <div class="col-md-12">
    <p class="lead">Warehouse Matches</p>
  </div>
  </div>
  <div class="row ml-3">
    {% for w in wh_result %}
      <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        <a class="badge badge-success" href="{% url 'warehouse' w.warehouse_id %}">Warehouse {{ w.warehouse_id }}: {{ w.warehouse_name }}</a>
      </div>
      {% endfor %}
</div>
</div>
{% else %}
<div class="border border-warning alert alert-warning">
<div class="row ml-3">
  <div class="col-md-12">
    <p class="lead">No Warehouse Matches</p>
  </div>
  </div>
</div>
{% endif %}

{% if result %}
<div class="border border-success alert alert-success">
    <div class="row ml-3">
      <div class="col-md-12">
        <p class="lead">Item Matches</p>
      </div>
    </div>
      <div class="row mb-1 justify-content-center">
    {% for i in result %}
<div class="col-md-12 col-lg-6 col-xl-4 col-xxl-3 my-2 mx-n2 themed-grid-col item {% for k in i.kw_itm.all %} {{ k.keyword_id|slugify }}{% endfor %}">
{% include 'inv/card.html' with object_type="item" object_id=i.item_id object_name=i.item_name object_img=i.item_img object_img_thumb=i.item_img_thumb object_info=i.item_desc object_box_id=i.boxid object_box_name=i.box object_warehouse_id=i.whid object_warehouse_name=i.wh object_qty=i.item_qty object_val=i.item_value object_totval=i.totval object_consumable=i.item_consumable object_rem=i.item_remaining object_kw=i.kw_itm.all %}
       </div><!-- /col -->
    {% endfor %}

      </div><!-- /row -->
</div>
  {% else %}
  <div class="border border-warning alert alert-warning">
  <div class="row ml-3">
    <div class="col-md-12">
      <p class="lead">No Item Matches</p>
    </div><!-- /col -->
  </div><!-- /row -->
  </div>
  {% endif %}
</main>
</div><!-- /col -->
<div class="clear">
  <hr/>
</div><!-- /container -->
{% endblock %}
