{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
 <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      {% if error %}
        <p>An error was encountered: {{ error }}</p>
      {% endif %}
      {% if form %}
      <h1 class="display-3">Submit Photo for {{ fileName }}</h1>
      <form action="{% url 'capture' 'upload' fileName %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
      {% else %}
      <p class="warning">Something went wrong. If you received this error via clicking a link, please report this to the local
        administrator, including the following information, if anything is displayed:</p>
        <ul>
          <li>fileName: {{ fileName }}</li>
          <li>fname: {{ fname }}</li>
          </ul>
        <p>Attempting to visit this page directly may result in an error. Please only visit this page via link from other pages.</p>
      {% endif %}
    </div>
  </div>

  <hr>



{% endblock %}
