{% extends 'inv/base.html' %}


{% block content %}
{% load static %}

{% include 'inv/obj_header.html' with object_type='warehouse' object_id=wh.warehouse_id object_name=wh.warehouse_name object_img=wh.warehouse_img  object_loc=wh.warehouse_loc u_items=total_items.items t_items=items_sum.total t_boxes=total_boxes.boxes itemval=total_itemval.val mobile=mobile %}

<div class="row m-3 mw-100">
  {% for b in boxes %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4 themed-grid-col">
      {% include 'inv/card.html' with object_type='box' object_id=b.box_id object_name=b.box_name object_img=b.box_img object_img_thumb=b.box_img_thumb object_info=b.box_description object_items=b.num_items mobile=mobile %}
    </div><!-- /column -->
  {% endfor %}
</div><!-- /row -->

{% endblock %}
