{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="row my-3 mw-100">
  <div class="col-md-11 offset-1">
    <h1>Warehouses</h1>
    <p class="lead">A Warehouse is a Collection of Boxes.</p>
    </div><!--col-->
    </div><!--row-->
<div class="container mx-auto no-gutters" style="max-width: 90%">
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="row mb-3">
    {% for w in wh %}
    <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 my-2 themed-grid-col">


{% include 'inv/card.html' with object_type="warehouse" object_id=w.warehouse_id object_name=w.warehouse_name object_img=w.warehouse_img object_img_thumb=w.warehouse_img_thumb object_info=w.warehouse_details object_loc=w.warehouse_loc object_boxes=w.num_boxes mobile=mobile %}
    </div><!-- /col -->
  {% endfor %}
  </div><!-- /row -->
</div><!-- /container -->

{% endblock %}
